
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
body {
    /*font-family: 'Roboto', 'Brush Script MT','Arial';*/
    font-family: 'Roboto';

    background-color:whitesmoke;
    background-image:url(2.jpg);
    background-attachment:fixed;



}

h1 {
    font-family: 'Playwrite CU','Segoe Script',sans-serif;
    text-align: center;
    color: darkblue;
}

h2 {
    color: grey;
}

p {
    font-size: 18px;
    text-align: justify;
    background-color: whitesmoke;
    /*    border-width:1px;
    border-top:solid;
    border-top-width:5px;
    border-style:solid;*/
    border-style: solid;
    border-width:5px 10px 15px 25px;
    padding:10px;
    margin:20px 15px 30px;
}
#Intro {
    color: darkblue;
}

.Definition {
    font-weight: 700
}

p > b{
    /*b непосредственно вложен в p*/
    color:forestgreen;
}
p  i{
    text-decoration:underline;
}
h1 + h2 {
    /*+ - дескрипторы строго следуют один за другим */
    /*~ - между дескрипторами могут встречаться другие дескрипторы */
    color: red;
}
h1 ~ h2 {
    /*+ - дескрипторы строго следуют один за другим */
    /*~ - между дескрипторами могут встречаться другие дескрипторы */
    color: hotpink;
}
img {
    /*    align-content: center;
    height: 286px;
    height: 30%;
    position: absolute;
    padding: initial;*/
    border: solid;
    width: 30%;
    float: left;
/*    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;*/
    margin: 3% 3% 3% ;

}
table {
    /*Рамка*/
    border: 2px;
    border-style: solid;
    border-collapse: collapse;
    /*Выравнивание таблицы*/
    margin-left: auto;
    margin-right: auto;
    width:700px;
    background-color: aliceblue;
}
table caption{
    background-color:antiquewhite;
    text-align:left;
    font-style:initial
        
}
    table th{       
        border: 1px solid;
        padding:20px;
        color:white;
        Background-color:rgb(107, 95, 181);
    }
    table td {
        border: 1px solid;
        text-align: center;
    }
.RowHeader {
    font-weight: 700;
    padding: 10px;
    text-align: left;
}
.Present {
    /*Присутсвует*/
    background-color: lightgreen;
}
.NA {
    background-color:  hotpink;
}
a{
    
}
h4 {
    text-align: center;
}
/*Присутсвует*/
ul {
    background-color: lightgrey;
    list-style:none
}

