
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
body {
    /*font-family: 'Roboto', 'Brush Script MT','Arial';*/
    font-family: 'Roboto';

    background-color:aliceblue;
    background-image:url(2.jpg);
    background-attachment:fixed;



}

h1 {
    font-family: 'Playwrite CU','Segoe Script',sans-serif;
    text-align: center;
    color: darkblue;
}

h2 {
    color: grey;
}

p {
    font-size: 18px;
    text-align: justify;
    background-color:azure
}

#Intro {
    color: darkblue;
}

.Definition {
    font-weight: 700
}

p > b{
    /*b непосредственно вложен в p*/
    color:forestgreen;
}
p  i{
    text-decoration:underline;
}
h1 + h2 {
    /*+ - дескрипторы строго следуют один за другим */
    /*~ - между дескрипторами могут встречаться другие дескрипторы */
    color: red;
}
h1 ~ h2 {
    /*+ - дескрипторы строго следуют один за другим */
    /*~ - между дескрипторами могут встречаться другие дескрипторы */
    color: hotpink;
}
img {
    /*    align-content: center;
    height: 286px;
    height: 30%;
    position: absolute;
    padding: initial;*/
    border: solid;
    width: 30%;
    float: left;
/*    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;*/
    margin: 3% 3% 3% ;

}

